{{ define "main" }}

{{ $page := . }}

<div class="universal-wrapper pt-3">
  <h1>{{ .Title }}</h1>

  {{ with .Content }}
  <div class="article-style">
    {{ . }}
  </div>
  {{ end }}
</div>

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{/* 按日期排序（倒序：最新的在前），但不按年份分组显示 */}}
      {{ $items := .Pages.ByDate.Reverse }}

      <div class="row" id="talk_list">
        <div class="col-lg-12">
          {{ range $items }}
            {{ partial "li_compact" . }}
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</div>

{{ end }}
